.carosel{
    width: 98%;
    height: 900px
}
#bar{
    width: 49%;
    height: 700px;
    float: left;
    display:inline;
    margin-right: 30px
}
#table1{
    float:left;
     display:inline; 
     width: 49%;
     height: 430px;
     margin-left: 10px;
     overflow: scroll;
}
#annotated{
    color:black;
    text-decoration: none;
}
#test{
    color:black;
    text-decoration: none;
}
#annotated:hover{
    background-color: gainsboro
}
#test:hover{
    background-color: gainsboro
}
#potential{
    /* width: 49%; */
    height: 430px;
    overflow: scroll;
}
#predict{
    /* width: 49%; */
    height: 430px;
    overflow: scroll;
}
.scrollit {
    overflow:scroll;
    height:600px;
}
#standee{
    display: block;
  margin-left: auto;
  margin-right: auto;
}